<div class="container">
  <div class="inp">
    <div class="one">
      <input placeholder="Enter Text" type="text" class="form-control" #input>
    
    <div class="two"><button class="btn btn-primary" (click)="OnSubmit(input)">Submit</button></div>
  </div>
  </div>
  
  <app-demo [value]="inputText" *ngIf="destroy">
    <h1>This Is Projected Content {{inputText}}</h1>
  </app-demo>
  <br><br>
  <button (click)="destroyComponent()" type="button" class="btn btn-dark">Destroy</button>

</div>

<router-outlet></router-outlet>